.carousel{
    position: absolute;
    z-index: -1;
    height: 672px;
    width: 100%;
}
.btn-warning{
    margin-top: -300px;
    margin-left: 42%;
}

.bagan1{
    background-image:   linear-gradient(red, yellow);
    height:608px;
}

.bagan1 img{    
    margin-top: 50%;
    margin-left:30%;
}

.label{
    margin-top: 20%;
}
.card{
    margin-top: 50px;
    padding: 20px;
    margin-left:30% ;
    margin-right: 30%;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
}